@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Technor";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/fonts/Technor-Medium.woff2) format("woff2");
  }
}
